.navbar-default {
  background-color: #005daa;
  border-color: #1478cb;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #b0b0b0;
}
.navbar-default .navbar-nav > li > a {
  color: #b0b0b0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #005daa;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #b0b0b0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #1478cb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #1478cb;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #1478cb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1478cb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #1478cb;
}
.navbar-default .navbar-toggle {
  border-color: #1478cb;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1478cb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b0b0b0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b0b0b0;
}
.navbar-default .navbar-link {
  color: #b0b0b0;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b0b0b0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1478cb;
  }
}

/* Do not remove the styles below! */
.navbar-default .navbar-nav > .active > a > span,
.navbar-default .navbar-nav > .active > a > span:focus,
.navbar-default .navbar-nav > .active > a > span:hover {
  border-bottom: 3px solid #ffffff;
  background-color: #005daa;
  padding-bottom: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #005daa;
}
